.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MuiList-root {
  margin: 1em;
  width: 50%;
  height: 50vh;
  overflow: auto;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dcdcdc; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #082c7f99; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #082C7F; 
}

.MuiListItem-root {
  text-align: center;
  width: 95%;
}

.Pokemon-Form {
  display: flex;
  width: 90%
}

.MuiInputBase-input.Mui-disabled {
  color: #082C7F;
}

.MuiFormControl-root {
  width: 100%;
}

.Add-Form {
  display: flex;
  align-items: center;
}

.MuiButton-root {
  margin: 1em;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
